# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
.venv/
venv/
*.egg

# Node / Vue
node_modules/
dist/
.vite/

# Docker
.env
.env.local
*.log

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Project specific
data/uploads/
milvus_data/
/models/
